div{
  
}
#pButton{
width:300px;
height:100px;
background-color:transparent;
color:white;
font-family:Arial;
font-size:50px;
border:2px white solid;
transition-duration:0.5s;
  position: fixed;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-150px;
}

body{
background-image:url("http://puu.sh/sbunG/702d6a2ce5.jpg");
  background-size:cover;
}

.oHotel {
  background-size:cover;
  background-image:url("http://puu.sh/sd94J/c65430eceb.jpg");
  transition: background 0.5s linear;
}

#pButton:hover{
  background-color:black;
    opacity: 0.5;
}

#subt{
  color:white;
  font-family:Calibri;
  font-size:12px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top:40px;
  margin-left:-44px;
}

.roles{
 
}
.picture:hover{
  transition:1s;
  background-color:white;
  opacity:0.8;
  width:300px;
  height:400px;
  border-radius:8px;
}
.picture{
  right:33%;
  width:auto;
  height:auto;
  width-max: 300px;
  border-radius:8px;
}
.description{
  font-family: Calibri;
  font-size:12px;
  position:
}